<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>PicPick 需要访问您的相册来帮助您浏览和管理照片。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>PicPick 需要此权限来保存照片到您的相册。</string>
	<key>UIUserInterfaceStyle</key>
	<string>Automatic</string>
</dict>
</plist>
